{% extends 'base.html.twig' %}

{% block title %}
    Ma bibliothèque
{% endblock %}

{% block body %}

<section class="container mt-4">
    <h1 class="text-center">Ma bibliothèque</h1>
    <p>Bienvenue sur ma bibliothèque</p>
</section>
{% endblock %}
