<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_category_index') }}">Catégories</a>
            <a  class="navbar-brand" href="{{ path('app_author_index') }}">Auteurs</a>
        </div>
    </nav>
</header>